div {
    text-align: center;
}

.cardTitle {
    color: #45413e;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
}

.cardSubtitle {
    color: #011847;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.cardHover {
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.cardHover:hover {
    background-color: #816fca;
    background-image: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
    opacity: 0.9;
}

.cardHoverButtons button {
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 8%;
    margin-top: 50%;

}

.cardHoverButtons button:nth-child(2) {
    margin-left: 7%;
}

.seeProduct{
    background-color: #282D3C;
    text-transform: uppercase;
    color: #ffffff;
    width: 9rem;
    border: 3px solid #ffffff;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 2rem;
}
