.checkout {
    border: 2px solid #d9d9d9;
    background-color: #84bc22;
    color: #ffffff;
    width: 15rem !important;
    border-radius: 15px;
    text-decoration: none;
    margin: 5%;
    text-transform: uppercase;
 }

 .quantity{
     border: 2px solid #d9d9d9;
     border-radius: 50%;
     width: 1.5rem;
     height: 1.8rem;
     display: inline-block;
 }