.bg {
   background-color: #f2edea;
   min-height: 100vh;


}

.title {
   color: #45413e;
   font-family: "Lato - Extra Bold";
   font-size: 3rem;
   font-weight: 600;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   text-align: center;
   margin-top: 1.5vh;
}

.container {
   background-color: #ffffff;
   /* width: 100%; */
   margin-left: 4vw;
   margin-right: 4vw;
   margin-top: 2vw;
   border-radius: 1%;
   padding-top: 2vh;
   padding-left: 2vw;
   padding-bottom: 3vh;
}


.price {
   color: #45413e;
   font-family: "Lato - Extra Bold";
   font-size: 1.5rem;
   font-weight: 400;
   font-style: normal;

}

.navigation {
   padding-top: 1.2rem;
}

.showProducts {
   margin-top: 1rem;
}

.results {

   color: #45413e;
   font-family: Lato;
   font-size: 1.1rem;
   font-weight: 400;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   text-align: center;
}

.loadMore {
   border: 2px solid #d9d9d9;
   background-color: #84bc22;
   color: #ffffff;
   width: 12rem;
   border-radius: 15px;
   text-decoration: none;
   margin: 5%;

}

.loadMoreButton,
.loadMoreButton:hover,
.loadMoreButton:visited,
.loadMoreButton:link,
.loadMoreButton:active {
   text-decoration: none;
   color: #ffffff;
}