.bg {
  background-color: #f1edea;
  min-height: 30vh;
  margin-left: 15%;
  margin-right: 15%;
}
.container {
  background-color: #ffffff;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.title {
  padding-top: 2vh;
  color: #45413e;
  font-family: "Lato - Extra Bold";
  font-size: 3vh;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  width: 100%;
  text-align: center;
}
