.home {
    color: #84bc22;
    padding-top: 1rem;
    font-family: Lato;
    font-style: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.04rem;
    text-align: left;
}

.home,
.home:hover,
.home:visited,
.home:link,
.home:active {
    text-decoration: none;
    color: #84bc22;
}