.bg{
   background-color: #f1edea;
   min-height: 100vh;
   margin-left: 15%;
   margin-right: 15%;
     
}

.container{
    background-color: #ffffff;
    /* width: 100%; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
  }