.rights {
    color: #45413e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
}

.contact {
    /* Style for "Headquarte" */

    color: #45413e;
    font-family: Lato;
    font-size: 13x;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    font-weight: 400;
}

.categoriest {
    color: #45413e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 31px;

}