.rights {
    color: #45413e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
}

.contact {
    /* Style for "Headquarte" */

    color: #45413e;
    font-family: Lato;
    font-size: 13x;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    font-weight: 400;
}

.categoriest {
    color: #45413e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 31px;

}

.devices{
    text-decoration: none;
    color: #000;
}

.devices,
.devices:hover,
.devices:visited,
.devices:link,
.devices:active {
   text-decoration: none;
   color: #000;
}

.aboutMobile{
    background-color: #ffffff !important;
    text-transform: uppercase;
    color: #000 !important;
    margin-top: 1rem !important;
    border: 0px solid #ffffff !important;
}