:root {
    --custom-color: #262a32;
}

.showItems {
    width: 100%;
    height: 30%;
    background-color: var(--custom-color);
    justify-content: center;
}

.title {
    padding-top: 6%;
    padding-bottom: 3%;
    color: #ffffff;
    font-family: "Lato - Extra Bold";
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.title:before,
.title:after {
    content: "";
    flex: 1 1;
    border-bottom: 3px solid;
    opacity: 0.1;
    margin: auto;
    margin-left: 4%;
    margin-right: 4%;
}

.title:before {
    margin-right: 3%;
}

.title:after {
    margin-left: 3%;
}

.loadMore {
    background-color: var(--custom-color);
    color: #ffffff;
    width: 30ch;
    border: 3px solid #ffffff;
    border-radius: 15px;
    text-decoration: none;
    margin: 5%;

}

.loadMoreButton,
.loadMoreButton:hover,
.loadMoreButton:visited,
.loadMoreButton:link,
.loadMoreButton:active {
    text-decoration: none;
    color: #ffffff;
}

.loadMoreButton img {
    margin-left: 3ch;
    margin-top: 0.6ch;
    position: absolute;
}