.signIn {
    padding-top: 7%;
    font-weight: 500px;
    color: #45413e;
    font-family: "Lato - Extra Bold";
    font-size: 1.9rem;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.form {
    padding-top: 10%;
}

.inputs {
    border: 0.15rem solid #d7d7d7 !important;
    border-radius: 1.2rem !important;
}

.password {
    border: 0.15rem solid #d7d7d7 !important;
    border-radius: 1.2rem !important;
    background-image: url("../../icons/eyeOpen.svg");
    background-size: 0.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.emailField{
    padding-right: 14rem;

}

.button {
    border: 0.15rem solid #84bc22 !important;
    border-radius: 1.2rem !important;
    background-color: #84bc22 !important;
}

.withoutAccount {
    color: #84bc22;
    font-family: Lato;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.04rem;
}

.forgotPassword {
    color: #84bc22;
    font-family: Lato;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.04rem;
    text-align: right;
}

.withoutAccount,
.withoutAccount:hover,
.withoutAccount:visited,
.withoutAccount:link,
.withoutAccount:active,
.forgotPassword,
.forgotPassword:hover,
.forgotPassword:visited,
.forgotPassword:link,
.forgotPassword:active {
    text-decoration: none;
    color: #84bc22;
}